<ul class="list-group mb-0">
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 mb-2 rounded"
        style="background-color: #f4f6f7;">
        <div>
            <input class="form-check-input me-2" type="checkbox">
            <span>Item de tarea</span>
        </div>
        <div class="btn-delete-task cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                viewBox="0 0 16 16">
                <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
            </svg>
        </div>
    </li>
</ul>

<ng-template #notDataTpl>
    <div class="d-flex flex-column align-items-center">
        <img src="assets/svgs/undraw_clean_up_re_504g.svg" width="200" height="200" alt="No hay data">
        <span class="fs-6 text-secondary">No se encontro ninguna tarea</span>
    </div>
</ng-template>